body {
  background-color: rgb(68, 151, 100);
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}

button {
  margin-left: 1rem;
}

button, input {
  border: 2px solid black;
  border-radius: 2px;
  background-color: white; 
}
